[Metadata]
ConfigVersion = "0.1" # Version of the loco.toml config. Required: yes. No default.
Description = "Optional description about the application" # Short description of the app. Required: no. Default: ""
Name = "myapp" # Name of the application. Required: yes. No default.
Type = "SERVICE" # App type (SERVICE, DATABASE, FUNCTION, CACHE, QUEUE, BLOB). Required: no. Default: "SERVICE"

[Resources]
CPU = "100m" # CPU request for the container. Required: no. Default: "100m"
Memory = "256Mi" # Memory request for the container. Required: no. Default: "256Mi"

[Resources.Replicas]
Max = 1 # Maximum number of replicas. Required: no. Default: 1
Min = 1 # Minimum number of replicas. Required: no. Default 1

[Resources.Scalers]
CPUTarget = 0 # Target CPU percentage for autoscaling. 0 means disabled. Required: no. Default: 0
Enabled = false # Whether autoscaling is enabled. Required: no. Default: false
MemoryTarget = 0 # Target memory percentage for autoscaling. 0 means disabled. Required: no. Default: 0

[Build]
DockerfilePath = "Dockerfile" # Path to the Dockerfile. Required: no. Default: "Dockerfile"
type = "docker" # Build type. Required: no. Default: "docker"

[Routing]
IdleTimeout = 60 # Idle timeout in seconds before shutting down a pod. Required: no. Default: 60
PathPrefix = "/api" # Path prefix for routing requests. Required: no. Default: "/"
Port = 8000 # Port the app listens on. Required: yes. No default.
Subdomain = "myapp" # Subdomain for the app. Required: yes. No default.

[Health]
FailThreshold = 3 # Number of failed healthchecks before restarting. Required: no. Default: 3
Interval = 30 # Interval between healthchecks in seconds. Required: no. Default: 30
Path = "/health" # HTTP path for healthcheck. Required: yes. No default.
StartupGracePeriod = 15 # Grace period in seconds before healthchecks start. Max: 300 (5 mins). Required: no. Default: 0
Timeout = 5 # Timeout in seconds for healthcheck response. Required: no. Default: 5

[Env]
File = ".env" # Path to environment variables file. Required: no. Default: ""
Variables = {LOG_LEVEL = "info", FEATURE_FLAG_X = "true"}# Inline env variables. Required: no. Default: {}      

[Obs.Logging]
Enabled = true # Enable log retention. Required: no. Default: true
RetentionPeriod = "7d" # How long to retain logs. Required: no. Default: "7d"
Structured = true # Whether to parse logs as structured JSON. Required: no. Default: false

[Obs.Metrics]
Enabled = true # Enable metrics scraping. Required: no. Default: false
Path = "/metrics" # HTTP path for metrics. Required: no. Default: "/metrics"
Port = 9090 # Port for metrics scraping. Required: no. Default: 9090

[Obs.Tracing]
Enabled = true # Enable distributed tracing. Required: no. Default: false
SampleRate = 0.1 # Fraction of requests to sample for tracing. Required: no. Default: 0.1
Tags = {env = "us-east-1"}# Key/value tags added to all traces. Required: no. Default: {}
